:root {
    --col-primary-cyan: hsl(193, 38%, 86%);
    --col-primary-green: hsl(150, 100%, 66%);
    --col-neutral-100: hsl(217, 19%, 38%);
    --col-neutral-400: hsl(217, 19%, 24%);
    --col-neutral-700: hsl(218, 23%, 16%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--col-neutral-700);
}